/*
 * //////////////////////////////////////////////////////////////////////
 *      PROGRAM: PORTFOLIO/STYLES.CSS
 *      Written by Nishan Subba
 *      GitHub: @nisSubba2024
 *      Purpose: Style the portfolio website
 *      Last Date Modified: Dec 31, 2024
 * //////////////////////////////////////////////////////////////////////
*/

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Root variables */
:root {
    /* Light mode */
    --main-text-color: #000;
    --box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
    --primary-bg-color: #fff;
    --secondary-bg-color: #fff;
    --box-text-color: #000;
    --toggle-bg-color: #000;
    --toggle-inner-color: #fff;
    --main-font-family: "Rubik", sans-serif;
    --box-border-radius: 3px;
    /*#ff8906*/
    --main-link-color: #7f5af0;
    --transition-duration: 0.3s; /* Smooth transition time */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--main-font-family), 'sans-serif';
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 2em;
    color: var(--main-text-color);
    background-color: var(--primary-bg-color);
    scroll-behavior: smooth;
}

/* Main container */
#container {
    width: 80%;
    margin: 0 auto;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contents-flex {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: start;
    align-items: start;
    gap: 2.5rem;
}

.contents-flex .grid-item {
    transform: translateX(0);
    opacity: 100%;
}

#main-body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.grid-item {
    height: 33rem;
    box-shadow: var(--box-shadow);
    position: relative;
    background-color: var(--secondary-bg-color);
    color: var(--box-text-color);
    max-width: 38.5rem;
}

.grid-item, .profile-link {
    transition-duration: 600ms;
    transition-timing-function: ease;
}

.grid-item:is(:hover, :focus), .profile-link:is(:hover, :focus) {
    transform: scale(1.2);
    z-index: 1;
}

#main-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;
}

.img-container {
    height: 60%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 4rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: fill;
}

.project-title {
    padding: 2.5rem 0;
    font-weight: 400;
    position: absolute;
    left: 1.5rem;

}

.projects-links {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
}

.profile-link {
    color: var(--main-text-color);
}

.link:hover {
    color: #fc6e51;
}

hr, .box-line {
    border: 1px solid #f2f2f2;
}

.box-line {
    position: absolute;
    bottom: 5.5rem;
    width: 100%;
}

.header-content {
    text-align: left;
    font-size: 1.6rem;
}

.section-header {
    font-weight: 400;
    text-align: left;
    padding: 3rem 0;
    text-indent: 10px;
    text-transform: uppercase;
}

@media (max-width: 950px) {
    .contents-flex {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (max-width: 600px) {
    .contents-flex {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        justify-items: center;
        align-items: center;
    }
}

.demo-link, .repo-link {
    color: var(--main-link-color);

}

/* Styling toggle button for dark and light mode */

.toggle-container {
    width: 5rem;
    height: 2.5rem;
}

.toggle-btn {
    width: 100%;
    height: 100%;
    background-color: var(--toggle-bg-color);
    border-radius: 2rem;
    position: relative;
}

.toggle-switch {
    width: 2rem;
    height: 2rem;
    background-color: var(--toggle-inner-color);
    border-radius: 50%;
    position: absolute;
    bottom: 3px;
    left: 3px;
}

.download-link {
    text-decoration: underline;
    color: var(--main-link-color);
}